<?xml version="1.0" encoding="UTF-8"?>


<configuration>

    <appender name="stderr" class="ch.qos.logback.core.ConsoleAppender">
        <Target>System.out</Target>
        <encoder>
            <pattern>%d{yyyy-MM-dd/HH:mm:ss.SSS/zzz} [%t] %-5p %m%n</pattern>
        </encoder>
        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <level>INFO</level>
        </filter>
    </appender>


    <root level="ERROR">
        <appender-ref ref="stderr"/>
    </root>

</configuration>